
  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,700;0,800;1,100;1,200;1,400;1,600;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}


.form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20dvw;
  height: 20vh;
  font-size: 18px;

}
.input-field{
  width: 15dvw;
  height: 3dvh;
  outline: none;
  border: none;
  border-radius: 5px;
   text-align: center;
   opacity: 80%;
}
.input-field:hover{
  box-shadow: 1px 1px 9px 3px rgba(46, 47, 47, 0.424);
}
.input-field:focus{
  opacity: 100%;
}
.btn{
  width: auto;
  padding: 0 40px;
  height: 30px;
  border-radius: 10em;
  background: rgb(13, 60, 216);
  color: white;
border: none;
outline: none;
box-shadow: 1px 1px 5px 1px rgba(66, 65, 65, 0.634);
margin: 5px;
  opacity: 90%;
  font-weight: bold;
}
.btn:hover{
  opacity: 100%;
  background-color: white;
  color: rgb(90, 7, 58);
  font-weight: bolder;
  box-shadow: 1px 1px 8px 3px rgba(46, 47, 47, 0.424);


}
.form-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 20dvw;
  height: 25vh;
  height: inherit;
  outline:none;
  border: none;
  background-color: #4651c5;
  color:white;
  box-shadow: 0 4px 7px 8px #4651c56f;
}
.form-container h1{
  margin-top: 10dvh;
}

.col{
  display: flex;
  flex-direction: column;
}


/* Styling for table */
.all-accounts-container{
  display: flex;
  justify-content: center;
  width: 100dvw;
  height: 100vh;
}
.table{
  display: flex;
  flex-direction: column;
  width: 35dvw;
  height:fit-content;
  text-align: justify;
  border-collapse:collapse;
  margin-top: 10dvh;
  box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.402);
  border-radius: 5px;
  overflow: hidden;
}
tbody{
    border-radius: 0 0 5px 5px;
}

.table th{
  height: 30px;
  background-color: #00a6a4;
  width: calc(35dvw/3);
outline: none;
color: white;
padding-inline-start: 10px;
}
.table tr,td,th{
  border: none;
}
.table tr{
  height: 50px;
  width: 35dvw;
outline:none;
border-bottom: 1px dotted black;
}
.table tr:hover{
  background-color: #42dab3;
  
}
.table td{
  height: 30px;
  width: calc(35dvw/3);
  outline: none;
  padding-inline-start: 10px;
}

/* Navbar styling */
.navbar{
  position: sticky;
  top: 1vh;
  left: 5vw;
  width: 90dvw;
  margin-bottom: 5vh;
  height: 5dvh;
  box-shadow: 1px 3px 10px 3px rgba(182, 179, 179, 0.493);
  background-color: #abc8d3;
  border-radius: 10em;
}
.navbar ul{
  display: flex;
  justify-content: space-evenly;
  height: inherit;
  font-weight: bolder;
  list-style: none;
  color: rgb(68, 67, 67);
  height: inherit;
  align-items: center;
}
.navbar ul li:hover{
  color: white;

}
/* Dashboard cards styling */
.dash-grid{
  display: grid;
  justify-content: center;
  grid-template-columns: 20vw 20vw 20vw;
  row-gap: 10vh;
  margin: 10vh 0 0 5vw;
 height: auto;
}
.balance-card{
  text-align: center;
}
.balance-card h1:hover{
  color: silver;
  text-shadow: 1px 1px 1px rgb(118, 4, 4);
}
.balance-card section h2 {
  color: rgb(244, 92, 92);
  animation: pulse 3s infinite ease-in-out;
}

 @keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.customer-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  width: 20vw;
  height: auto;
  outline: none;
  border: none;
  margin-top: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  grid-column: 3/4;
  box-shadow: 1px 3px 10px 3px rgba(182, 179, 179, 0.493);

  
}
.customer-card p{
  font-size: 18px;
  font-weight: 400;
  color: #4dbf86;
}
.customer-card span{
  color: black;
  font-weight: 500;
}

.add-account-card{
  width: 25vw;
  height: 25vh;
  outline: 1px solid black;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.634);
  background-color: whitesmoke;
}
.dash-amount-btn-group{
  display: flex;
  justify-content: space-evenly;
  width: 10vw;
}
.dash-amount-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 15vw;
  height: 20vh;
  grid-column:1/2;
}
.dash-chart-container{
  grid-row-start: 3;
  grid-column: 1/2;
}
.quick-update-card{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 25vh;
  grid-row: 3;
  grid-column: 3;
  outline: none;
  border: none;
  box-shadow: 1px 3px 10px 3px rgba(182, 179, 179, 0.493);
  border-radius: 10px;
}